<h3>SignIn</h3>
<form action="/admin" method="POST">
  <label for="username"><b>Username</b></label>
  <input
    id="username"
    type="text"
    name="username"
    placeholder="Enter your username"
  />
  <label for="password"><b>Password</b></label>
  <input
    id="password"
    type="text"
    name="password"
    placeholder="Enter your password"
  />

  <input type="submit" class="btn" value="Login" />
</form>

<!-- <h3>Register</h3>
<form action="/register" method="POST">
  <label for="username"><b>Username</b></label>
  <input
    id="username"
    type="text"
    name="username"
    placeholder="Enter your username"
  />
  <label for="password"><b>Password</b></label>
  <input
    id="password"
    type="password"
    name="password"
    placeholder="Enter your password"
  />

  <input type="submit" class="btn" value="Register" />
</form> -->
