<header class="header">
  <h1 class="header-logo">Admin</h1>
  <div class="header-button">
    <a href="/logout">
      <img id="search-img" src="/img/signout.gif" alt="Animated icon" />
    </a>
  </div>
</header>
