<div class="search-bar">
  <div class="container">
    <div class="search-container">
      <form action="/search" class="search-form" role="search" method="POST">
        <input
          type="search"
          aria-label="Search"
          id="search-input"
          name="search-term"
          placeholder="Search articles.."
        />
      </form>
      <img id="search-close" src="/img/close.png" alt="Close" />
    </div>
  </div>
</div>
