<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Nodejs Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <main>
        <section>
          <h1 class="bubble-text about-container">About Me</h1>

          <div>
            <h2>Introduction</h2>
            <p>
              Welcome to my blog website, a place where I share insights, record
              my software development learning path, my insights from books that
              I read, programming related stuff, and more. My goal is to land a
              good job by the end of this year when I graduate.
            </p>
          </div>

          <div>
            <h2>Blog Features</h2>
            <p>There is only one user who can create blogs: me.</p>
            <ol class="two-columns">
              <li>
                <strong>Home Page</strong>
                <ul>
                  <li>Displays recent blog posts.</li>
                </ul>
              </li>
              <li>
                <strong>Admin Dashboard</strong>
                <ul>
                  <li>Accessible only after login.</li>
                  <li>
                    Lists all blog posts with options to edit or delete each
                    post.
                  </li>
                  <li>Allows creation of new posts.</li>
                </ul>
              </li>
              <li>
                <strong>User Authentication</strong>
                <ul>
                  <li>Admin login functionality.</li>
                  <li>
                    Middleware for checking authentication on protected routes.
                  </li>
                  <li>User registration.</li>
                </ul>
              </li>
              <li>
                <strong>Post Management</strong>
                <ul>
                  <li>Create new posts (title and body).</li>
                  <li>Edit existing posts.</li>
                  <li>Delete posts.</li>
                </ul>
              </li>
              <li>
                <strong>Search Functionality</strong>
                <ul>
                  <li>Search posts by title and body content.</li>
                </ul>
              </li>
              <li>
                <strong>Page Layouts</strong>
                <ul>
                  <li>Separate layouts for admin pages and main site pages.</li>
                </ul>
              </li>
              <li>
                <strong>Styling</strong>
                <ul>
                  <li>
                    Responsive design, styled buttons, forms, and other
                    elements.
                  </li>
                </ul>
              </li>
            </ol>
          </div>

          <div>
            <h2>Find Me</h2>
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/shamika-redkar/"
                  >LinkedIn</a
                >
              </li>
              <li>
                <a href="https://github.com/shamikaredkar">Github</a>
              </li>
            </ul>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
